body {
    min-height: 100vh;
    width: 100vw;

    background-image: url('../../Assets/Images/BackgroundImage.png');
    background-size: cover;         
    background-position: center left;
    background-repeat: no-repeat;
    background-attachment: fixed;   
}

/* Mobile adjustments */
@media (max-width: 768px) {
    body {
        background-position: cen center; 
    }
}

@media (max-width: 480px) {
    body {
        background-position: top center; 
    }
}
