
.content-container {
	display:flex;
	flex-direction: row;
	margin:0px;
	max-width:100%;
	max-height:100%;
}

.left-content {
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	line-height:20px;
	margin:0px;
	height: calc(100% - var(--Header-size));
	margin-top: var(--Header-size);
	width: 100%;
	height:100%;
}

@media (max-width: 768px) {
  .left-content {
    margin-right: 0;
    margin-bottom: 0px;
	margin:0px;
  }
}

.right-content {
	display:flex;
  	justify-content: center;
  	align-items: center;
	width:100%;
	height: calc(100% - var(--Header-size));
	margin-top: var(--Header-size);
}

@media (max-width: 768px) {
  .right-content {
    margin-left: 0;
  }
}

.profile-image {
	border: plum 10px solid;
	width: 500px; 
	height: 500px; 
	border-radius: 50%; /* Optional: make the image circular */
	object-fit: cover;
	display:flex;
	position:flex;
	padding: 0px;
	margin: 0;
	flex-direction: column;
	z-index:1;
	
	}

@media (max-height: 100px) {
  .profile-image {
    float: none;
    display: flex;
    width: 100vh;
    height: 100vw;
  }
}