.header {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	z-index: 10000000;
	height: var(--Header-size, 80px);
	justify-content: space-between;
	box-sizing: border-box;
	display: flex;
}

.loader {
  	display: inline-block; 
  	position: relative;
 	margin-top: 9px;
	margin-left: 7px;
	height: 46px;
	cursor: pointer;
}
