.container {
	display: flex;
	flex-direction: column;
<<<<<<< HEAD
	gap: 20px;
	width: 100%;
	height: 100vh;
	z-index: 1;
	margin: 0px;
	overflow: visible;
	position: relative;
  }

.hello {
	font-family: "DM Sans";
	font-size: 40px;
	color:white;
	padding: 0px;
	margin-top: 10px;
}

.name {
	font-family: "DM Sans";
	font-size: 62px;
	color:white;
	padding: 20px;
	margin-top: 0px;
}
  
  .title {
	font-family: 'Genome', sans-serif; 
	/* font-family: "DM Sans"; */
	font-size: 60px;
	color:white;
	padding: 20px;
  }

  .titleBox {
	flex: 1;
	padding: 20px;
	text-align: center;
	border-radius: 8px;
	z-index: 10;
	overflow: visible;
	position: relative;
	z-index: 1;
	margin-top: 275px;
  }
  
  .box {
	flex: 1;
	padding: 20px;
	text-align: center;
	background: lightblue;
	border-radius: 8px;
  }

  
.diplomaIcon {
	width: 50%;
	height: 50%; 
	border-radius: 50%; /* make the image circular */
	display:flex;
	position:flex;
	padding: 0px;
	margin: 0;
	flex-direction: column;
	z-index:1;
	}

	.cardsContainer {
		display: flex; 
		flex-wrap: wrap; 
		justify-content: center;
		gap: 2px; 
		margin: 0px 0;
		position: relative;
		z-index: 1;
	}
	
.gradientText {
	font-size: 50px;
}

.rotatingTextContainer {
	margin: 25px 0;
}
=======
	align-items: center;
	justify-content: space-evenly;  
	width: 100vw;
	min-height: 100vh;
	position: relative;
	overflow: visible;  
	padding-top: 0px; 
	box-sizing: border-box;
}

.lanyardWrapper {
	position: relative;
	margin-top: -60px;
	top: 0;
	left: 0;
	z-index: 1; 
	width: 100vw;
	height: 50vh;
	overflow: visible;
	pointer-events: none; 
  }
  
  
.titleBox {
	flex: 0;
	padding: 15px;
	text-align: center;
	border-radius: 8px;
	position: relative;
}

  
.gradientText {
	font-size: clamp(3rem, 5vw, 4rem);
	line-height: 1.2;
	font-weight: 400;
	max-width: 20ch;
	margin: 0 auto;
}

.splitTextTitle {
	font-size: clamp(2.5rem, 5vw, 3.5rem);
	line-height: 1.2;
	font-weight: 400;
	max-width: 20ch;
	margin: 0 auto;
  }

.rotatingTextContainer {
	font-size: clamp(2rem, 5vw, 4rem);
	line-height: 1.2;
	font-weight: 600;
	max-width: 25ch;
	margin: 0 auto;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-top: 10px;
}

/* Desktop Size */
@media only screen and (min-width: 600px) {
    .container {
        margin: 0 auto;
    } 
}

@media (max-width: 768px) {
	.lanyardWrapper {
	  /* Adjusted height for smaller screens to improve layout */
	  height: 45vh;
	}
}
>>>>>>> dev
