.splitTextParent {
    display: inline;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
  }
  
  .word {
    display: inline-block;
    white-space: nowrap;
    font-family: "DM Sans";
	  font-size: 40px;
    font-weight: 400;
	  color:white;
	  padding: 0px;
	  margin-top: 60px;
  }
  
  .space {
    display: inline-block;
    width: 0.3em;
  }
  

  